body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #111d27; }

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #111d27; }

.left a {
  text-decoration: none;
  color: #ffffff; }

.right a {
  color: #ffffff;
  text-decoration: none; }
