.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #111d27; }
  .navbar .left {
    margin-left: 50px; }
  .navbar .left a {
    text-decoration: none;
    color: #ffffff;
    font-size: 40px; }
  .navbar .right {
    margin: 0 50px; }
    .navbar .right .fa-circle {
      color: #ffffff;
      font-size: 10px;
      position: relative;
      top: -2px; }
    .navbar .right .fa-bars {
      color: #ffffff;
      font-size: 25px; }
  .navbar .right button {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.15em;
    border: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    background-color: #111d27; }
  .navbar .right button:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #4bf3ae;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0; }
  .navbar .right button:hover:after {
    width: 100%;
    left: 0; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #111d27; }

.heroimg {
  display: flex;
  justify-content: center; }
  .heroimg img {
    width: 900px; }

.bottom {
  display: flex;
  justify-content: center; }
  .bottom .text {
    width: 25%;
    display: flex;
    justify-content: center;
    border-right: 2px solid #454e57; }
  .bottom .text p {
    color: #ffffff;
    padding-right: 50px;
    line-height: 140%; }
  .bottom .button {
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 75px; }
    .bottom .button .get {
      background: linear-gradient(180deg, rgba(129, 217, 255, 0.325849) 24%, #50ffc1 100%);
      height: 120px;
      width: 120px;
      margin-right: 15px; }
      .bottom .button .get div {
        position: relative;
        top: 90px;
        left: 3px; }
    .bottom .button .emptybox {
      background: linear-gradient(180deg, #e943f1 50%, #face25 100%);
      height: 120px;
      width: 120px; }
      .bottom .button .emptybox .how {
        background: #111d27;
        position: relative;
        top: 90px;
        left: 3px; }
        .bottom .button .emptybox .how div {
          color: #ffffff;
          margin-right: 3px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .footer i {
    color: #ffffff;
    position: relative;
    bottom: 100px;
    margin-right: 20px;
    margin-top: 10px; }
