.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $background;
}
.left a{
  text-decoration: none;
  color: $fontcolor;
}
.right a{
  color: $fontcolor;
  text-decoration: none;
}
